/* myStyle.css */
body {
  font-size: 16px;
  color: #ffff;
  background-color: #61122f;
  font-family: 'oxygen', sans-serif;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border 0;
}
