body {
  font-size: 16px;
  color: #fff;
  background-color: #6495ED;
  font-family: 'Oxygen', sans-serif;
}


/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Company Name */
  font-family: 'Lora', serif;
  color: #FFB6C1;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
/** PAGE HEADER **/
.page-header h2 { /*page header*/
  text-align:center;
  color: blue;
  padding-top: 25px;
}
